#logo {
    path {
        transition: d .18s ease-in-out;
    }
}

#logo-path-1 {
    d: path("M226.5 123.501L131.729 28.2747C185 15.0014 224.972 36.5538 224.972 36.5538L226.5 123.501Z");
}

#logo-path-2 {
    d: path("M238.727 179.05L240 44.5015C285.5 71.5 300.154 116.914 300.154 116.914L238.727 179.05Z");
}

#logo-path-3 {
    d: path("M209.443 227.464L304.744 132.093C319 185 296 226.001 296 226.001L209.443 227.464Z");
}

#logo-path-4 {
    d: path("M154.641 238.46L290.5 237C263.5 284.5 219 299 219 299L154.641 238.46Z");
}

#logo-path-5 {
    d: path("M105.818 209.202L203.237 304.211C150 318.5 108.38 296.708 108.38 296.708L105.818 209.202Z");
}

#logo-path-6 {
    d: path("M93.2435 153.989L95.0004 290C47.5 262 33.5001 217.5 33.5001 217.5L93.2435 153.989Z");
}

#logo-path-7 {
    d: path("M122.608 106.18L28.6541 202.853C14.5 150 35.9073 109.28 35.9073 109.28L122.608 106.18Z");
}

#logo-path-8 {
    d: path("M179.036 93.8971L44.5001 93.0006C73 46 116.5 33.0008 116.5 33.0008L179.036 93.8971Z");
}

svg:hover #logo-path-1 {
    d: path("M228.644 174.534L194.507 26.8266C248.315 37.7212 275.155 74.3529 275.155 74.3529L228.644 174.534Z");
}

svg:hover #logo-path-2 {
    d: path("M207.702 212.743L285.312 87.9848C314.805 131.909 308.532 179.215 308.532 179.215L207.702 212.743Z");
}

svg:hover #logo-path-3 {
    d: path("M154.763 227.426L306.157 194.893C296.306 248.794 257.925 275.941 257.925 275.941L154.763 227.426Z");
}

svg:hover #logo-path-4 {
    d: path("M118.123 206.678L248.234 283.512C203.449 314.81 157.035 308.791 157.035 308.791L118.123 206.678Z");
}

svg:hover #logo-path-5 {
    d: path("M105.696 154.812L140.562 306.727C86.349 296.763 58.1235 259.207 58.1235 259.207L105.696 154.812Z");
}

svg:hover #logo-path-6 {
    d: path("M128.444 117.463L48.9225 247.404C18.0536 201.715 24.5246 155.516 24.5246 155.516L128.444 117.463Z");
}

svg:hover #logo-path-7 {
    d: path("M178.74 104.841L26.4399 140.206C36.3595 86.3975 73.1816 58.8199 73.1816 58.8199L178.74 104.841Z");
}

svg:hover #logo-path-8 {
    d: path("M213.403 127.419L87.9331 47.8103C133.858 17.6074 178.724 24.5526 178.724 24.5526L213.403 127.419Z");
}