.container {
    max-width: 1680px;
    margin-left: auto;
    margin-right: auto;
}

.container-small {
    max-width: 1200px;
    margin: 0 auto;
}

.container-white {
    max-width: 1680px;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--white);
    color: var(--black);
}

.container-dark {
    max-width: 1680px;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--black);
    color: var(--white);
}

.container-content {

    h1, h2, h3, h4, h5, h6, p {
        margin-bottom: 1.5rem;
    }

    h2 {
        font-size: clamp(2.5rem, 4.7vw, 3rem);
        letter-spacing: -3px;
    }

    li {
        margin-bottom: 1rem;
    }

    p, li {
        font-size: 1.125rem;
        line-height: 1.2;
    }
}