body {
    margin: 0;
    padding: 0;
    font-family: 'helvetica neue', serif;
    background-color: var(--black);
    color: var(--white);
}

main {
    padding-left: var(--padding-global);
    padding-right: var(--padding-global);
}

img {
    max-width: 100%;
    box-sizing: border-box;
}